html {
  background-color: #121212;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  line-height: 1.5;
  color: white;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

img {
  width: 95%;
  height: 70%;
}
.italic {
  font-style: italic;
}

.mx-auto {
	margin-left: 20px;
	margin-right: 20px;
}

.px-page-gutter {
	padding-left: 20vw;
	padding-right: 20vw;
}

.padding-10px {
  padding: 10px;
}
/* A cambiar para media responsive */

.w-full {
  width: 100%;
}

/* A cambiar para media responsive */

.header-mt {
  margin-top: 100px;
}

.main-mt {
  margin-top: 40px;
}

.flex {
  display: flex;
}

.wrap {
  flex-wrap: wrap;
}

.align-items-center {
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.h-detail {
  height: 50vh
}

.gap {
  gap: 23%;
}


@media (width <= 640px) {
  .px-page-gutter {
    padding-left: 10vw;
    padding-right: 10vw;
  }

  #column-blogs {
    flex-direction: column;
  }

  .resources {
    display: flex;
    flex-direction: column;
    list-style: none;
    font-size: 10.5px;
    padding-left: 0;
    gap: 10px;
  }
}