<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro-Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <h1>About me</h1>
    <h4>Software Developer</h4>
    <p>
      I'm Franco De Bernardi, and this is my blog. I thought the idea of making
      blogs was almost gone but it seems that <a
        target="_blank"
        href="https://astro.build">Astro</a
      >
      and it's superpowers it is bringing in back to life. I built this blog because
      I want to learn more about this awesome web framework and it's super capabilities.
      So I think you would found some really good news or is it blogs? I don't know,
      but I really hope this project help you to learn more about Astro as I am doing.
    </p>
  </body>
</html>
