<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Astro-Blog</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">So here it is, my blog</a>
    <h1>Don't expect a New York Times special news</h1>
    <span>15/1/2024</span>
    <p>
      It is this the year that Apple will put the usb-C connector in the front of the Magic Mouse?
    </p>
  </body>
</html>
