---
const pageTitle = "My Astro Learning Blog";
---


<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">{pageTitle}</a>
    <h1>Don't expect a New York Times special news</h1>
    <span>15/1/2024</span>
    <p>
      <ul>
        <li>It is this the year that Apple will put the usb-C connector in the front of the Magic Mouse?</li>
        <li><a href="/posts/post-1/">Post 1</a></li>
        <li><a href="/posts/post-2/">Post 2</a></li>
        <li><a href="/posts/post-3/">Post 3</a></li>
      </ul>
    </p>
  </body>
</html>
