---
import { ArrowRight } from 'lucide-astro';

const { title, url, description } = Astro.props;

---

<style>
  div {
    width: 45%;
    border: thin solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 5%;
  }

  h3 {
    margin: 0;
  }

  @media (width <= 640px) {
  div {
    width: 100%;
  }
}

</style>
<div>
  <header>
    <h3>{title}</h3>
  </header>
  <section>
    <p>
      {description}
    </p>
  </section>
  <footer>
    <a class="flex" style={{width: 'fit-content', gap: '10px'}} href=`blogs/${url}`>
      Go
      <ArrowRight style={{color: 'white'}}/>
    </a>
  </footer>
</div>