---
import { ArrowRight } from 'lucide-astro'
---

<style>
  div {
    width: 45%;
    border: thin solid white;
    border-radius: 10px;
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 1%;
  }

  h3 {
    margin: 0;
  }

</style>
<div>
  <header>
    <h3>This is a title of a blog</h3>
  </header>
  <section>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit.  
      impedit nihil corrupti explicabo at dignissimos magnam!
    </p>
  </section>
  <footer>
    <a class="flex" style={{gap: '10px'}} href="/titleBlog1" >
      Go
      <ArrowRight style={{color: 'white'}}/>
    </a>
  </footer>
</div>