---
import '../styles/global.css';
import { Github } from 'simple-icons-astro';
import { Linkedin } from 'simple-icons-astro';
import { Soundcloud } from 'simple-icons-astro';
---

<style>
  p, li {
    font-size: smaller;
  }

  h5 {
    margin: 0;
  }

  ul {
    list-style: none;
    padding: 0%;
  }
  
  @media (width <= 640px) {
  #group-footer {
    flex-direction: column;
  }

  #icons-footer {
    gap: 40%
  }
}
  
</style>

<footer class="flex flex-column header-mt w-full">
  <hr class="w-full">
  <div id="group-footer" class="flex justify-space-between" style={{marginTop: '40px'}}>
    <section class="flex flex-column padding-10px">
      <header>
        <h5>Not a super blog</h5>
      </header>
  
      <p>
        You might get bored, not interested. Or you might learn something new 🤓
      </p>
    </section>
  
    <section class="flex flex-column padding-10px">
      <header>
        <h5>I'm a human</h5>
      </header>
  
      <p>
        Right from Autonomus City of Buenos Aires
      </p>
    </section>
  
    <section class="flex flex-column padding-10px">
      <header>
        <h5>In case you're lost</h5>
      </header>
  
      <ul class="flex wrap justify-space-between">
        <li>
          <a href="/">
            <i>Home</i>
          </a>
        </li>
        <li>
          <a href="/blogs">
            <i>Blogs</i>
          </a>
        </li>
        <li>
          <a href="/about">
            <i>About</i>
          </a>
        </li>
        
      </ul>
    </section>

    <section class="flex flex-column padding-10px">
      <header>
        <h5>Know me a little bit more</h5>
      </header>
  
      <div id="icons-footer" class="flex justify-content-space-between gap" style={{ paddingTop: '25px'}}>

        <a role="link" href="https://www.linkedin.com/in/franco-de-bernardi/" target="_blank" style={{color: '#0a66c2'}}>
          <Linkedin/>
        </a>
        <a href="https://github.com/db1703" target="_blank" style={{color: 'white'}}>
          <Github/>
        </a>
        <a href="https://soundcloud.com/franco-de-bernardi" target="_blank" style={{color: '#ff5500'}}>
          <Soundcloud/>
        </a>
      </div>
    </section>
  
  </div>

</footer>