---
import '../styles/global.css'

const { route, isABlog, nameBlog, blogURL } = Astro.props

const routeURL = route && route.toLowerCase();
---

<header class="flex w-full justify-center header-mt">
  <section class="w-full italic">
    <a href="/">Home</a>
    {route &&
      <span>/</span>
      <a href=`/${routeURL}`>{route}</a>
      
    }
    {isABlog ? 
      <span>/</span>
      <a href="/blogs">Blogs</a>
      <span>/</span>
      <a href=`blogs/${blogURL}`>{nameBlog}</a>
    : undefined
    }
  </section>
</header>